.container {
    text-align: center;
    width: 100%;
    margin: 0;
}

.buttons {
    display: grid;
    padding: 24px;
    // grid-template-columns: 50% 50%;
    gap: 12px;
}

button {
    min-height: 32px;
    border-radius: 12px;


}

#buttonYes {
    border: 1px solid lightblue;
    background: lightblue;
    color: black;
}

#buttonNo {
    border: 1px solid lightcoral;
    background: lightcoral;
    color: white;
}
