
<div class="container">

  <div class="propuesta"  *ngIf="rechazado; else aceptado">

    <div class="gif">
      <iframe src="https://giphy.com/embed/u62ibpUyRSvJ0PyXJU" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-lovelycat-gu9u-u62ibpUyRSvJ0PyXJU">
      </a></p>
    </div>
    <h3>Aceptas ser mi novia?</h3>
  </div>

  <ng-template #aceptado>
    <div class="gif2">
      <iframe src="https://giphy.com/embed/yt8EKvAPTXNza" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/love-kiss-life-yt8EKvAPTXNza"></a></p>
    </div>
    <h3>Te amo ♥ <br> No te arrepentirás</h3>
  </ng-template>
  

  <div class="buttons" *ngIf="rechazado" [style]="columns[intento]">
    <button id="buttonYes" (click)="aceptar()">Sí</button>
    <button id="buttonNo" *ngIf="intento < 8" (click)="reaccion()">{{alternativa[intento]}}</button>
  </div>
</div>